@require '../../common/mixins.styl';
@require 'nib';

.page-loading
	fixed top 0 right 0 bottom 0 left 0
	background-color #f5f5f5
	opacity .5
	z-index 5

	img
		position fixed
		top 50%
		right 50%
		margin-right -42px
		margin-top -42px