@import '../../mixins.styl'

.custom-checkbox
  .box
    border 1px solid #999
    background-color white
    square(20px)
    margin-right 10px
    float left
    margin-top 1px
    position relative

  .fa-check
    color accent
    position absolute
    top 2px
    left 2px
    font-size 15px

  input[type="checkbox"]
    margin-top 1px
    opacity 0
    square(20px)