@import '../../mixins.styl'

.custom-radio
  .circle
    square(20px)
    border 1px solid #999
    border-radius 50%
    background-color white
    margin-right 10px
    float left
    margin-top 1px
    position relative

  .fa-circle
    color accent
    position absolute
    top 2px
    left 3px
    font-size 14px

  input[type="radio"]
    margin-top 1px
    opacity 0
    square(20px)
